{
	"$schema": "https://json.schemastore.org/prettierrc",
	"tabWidth": 4,
	"arrowParens": "avoid",
	"trailingComma": "all",
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"bracketSpacing": true,
	"printWidth": 160,
	"quoteProps": "consistent",
	"overrides": [
		{
			"files": ["*.json", "*.yml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}